name: Create a Sentry release
on:
  push:
    branches:
      - 'main'
jobs:
  create-sentry-release:
    uses: snapshot-labs/actions/.github/workflows/create-sentry-release.yml@main
    with:
      project: snapshot-hub
    secrets: inherit
